.image {
    position:relative;
    float:left; /* optional */
	background-color:#888888;
}
.text2 {
    position:absolute;
    color:white;
    top:20%; /* in conjunction with left property, decides the text position */
    left:15%;
    width:200px; /* optional, though better have one */
}
.text3 {
    position:absolute;
    color:white;
    top:30%; /* in conjunction with left property, decides the text position */
    left:32%;
    width:auto; /* optional, though better have one */
}
.imageShadow {
	filter:alhpa(opacity=10);
	opacity:0.4;
}
/*
 * Footer
 */
.mastfoot {
  background-color: #353535;
  color: #FFF; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

.mastfoot {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

/* Padding for spacing */
.inner {
  padding: 30px;
}

h3 {
font-family: Verdana;
color: white;
}
.comment-textarea textarea {
  padding: 14px 20px;
  margin: 0;
  margin-top: 50;
  resize: none;
  width: 90%;
  height: 20px;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  border: solid 1px #ebebeb;
  border-radius: 4px;
}