div.container-title {
  width: 70px;
  height: 70px;
  float: left;
}


div.heartImg {
  background: url('../images/animation-example-sprite2.png') no-repeat 0 0;
  width: 37.7px;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
  cursor: pointer;
}

div.heartImg:active {
  background: url('../images/animation-example-sprite2.png') no-repeat -37.5px 0;
}

/*Animation #1*/

@keyframes heartAnimation {
  0% {transform: scale(1,1) }
  20% {transform: scale(0.9,0.9) }
  50% {transform: scale(1.15,1.15) }
  80% {transform: scale(1,1) }
}

@-webkit-keyframes heartAnimation {
  0% {-webkit-transform: scale(1,1)}
  20% {-webkit-transform: scale(0.9,0.9) }
  50% {-webkit-transform: scale(1.15,1.15) }
  80% {-webkit-transform: scale(1,1) }
}

@-moz-keyframes heartAnimation {
  0% {-moz-transform: scale(1,1)}
  20% {-moz-transform: scale(0.9,0.9)}
  50% {-moz-transform: scale(1.15,1.15)}
  80% {-moz-transform: scale(1,1)}
}

@-o-keyframes heartAnimation {
  0% {-o-transform: scale(1,1)}
  20% {-o-transform: scale(0.9,0.9)}
  50% {-o-transform: scale(1.15,1.15)}
  80% {-o-transform: scale(1,1)}
}


div.toggle-animation {
  background: url('../images/animation-example-sprite2.png') no-repeat -75px 0;
  animation: heartAnimation 0.7s;
  -webkit-animation: heartAnimation 0.7s;
  -moz-animation: heartAnimation 0.7s;
  -o-animation: heartAnimation 0.7s;
}
